In [6]:
# Task 2 CITY ANALYSIS
# Identify the city with the highest number of restuarants in the dataset.

import pandas as pd

df = pd.read_csv(r"C:\Users\Acer\Downloads\Dataset.csv")
df.shape

(9551, 21)

In [15]:
# count the number of restaurants per city
city_counts = df['City'].value_counts()

# get city with the highest number of restaurants
top_city = city_counts.idxmax()
top_count = city_counts.max()
print(f"The city with the highest number of restaurants is:\n {top_city} ({top_count} restaurants)")

The city with the highest number of restaurants is:
 New Delhi (5473 restaurants)

In [17]:
# Calculate the average rating for restaurants in each city

# convert ratings to numeric in case of strings and drop missing values
df['Aggregate rating'] = pd.to_numeric(df['Aggregate rating'],errors = 'coerce')
df = df.dropna(subset = ['Aggregate rating'])

# calculate average rating
avg_rating = df.groupby('City')['Aggregate rating'].mean().sort_values(ascending = False)
print('Average restaurant rating by city:',avg_rating)

Average restaurant rating by city: City
Inner City          4.900000
Quezon City         4.800000
Makati City         4.650000
Pasig City          4.633333
Mandaluyong City    4.625000
                      ...
New Delhi           2.438845
Montville           2.400000
Mc Millan           2.400000
Noida               2.036204
Faridabad           1.866932
Name: Aggregate rating, Length: 141, dtype: float64

In [19]:
# Determine the city with the highest average rating

top_city = avg_rating.idxmax()
top_rating = avg_rating.max()
print(f"the city with the highest average restaurant rating is:\n {top_city} ({top_rating:2f})")

the city with the highest average restaurant rating is:
 Inner City (4.900000)